{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}TopMap Solutions - GIS Projects, Teams & Spatial Analytics{% endblock %}
        </title>
        <link rel="icon" href="{% static 'assets/logo.svg' %}" type="image/x-icon">
        <!-- Primary SEO meta -->
        <meta name="description"
              content="{% block meta_description %}GIS Projects, Teams & Spatial Analytics.{% endblock %}" />
        <link rel="stylesheet" href="{% static 'css/native/_styles.css' %}">
    </head>
    <body class="container">
        {% block content %}{% endblock %}
        <script src="{% static 'lucide.min.js' %}"></script>
        <script>lucide.createIcons();</script>
    </body>
</html>
