:root {
  /* Base colors */
  --base-100: oklch(98.71% 0.02 123.72);
  --base-200: oklch(91.8% 0.018 123.72);
  --base-300: oklch(84.89% 0.017 123.72);
  --base-content: oklch(19.742% 0.004 123.72);

  --primary: oklch(58.92% 0.199 134.6);
  --primary-content: oklch(11.784% 0.039 134.6);

  --secondary: oklch(77.75% 0.196 111.09);
  --secondary-content: oklch(15.55% 0.039 111.09);

  --accent: oklch(85.39% 0.201 100.73);
  --accent-content: oklch(17.078% 0.04 100.73);

  --neutral: oklch(30.98% 0.075 108.6);
  --neutral-content: oklch(86.196% 0.015 108.6);

  --info: oklch(86.19% 0.047 224.14);
  --success: oklch(86.19% 0.047 157.85);
  --warning: oklch(86.19% 0.047 102.15);
  --error: oklch(45% 0.18 25);

  /* Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;

  /* Border */
  --border-width: 1px;
}