# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
.venv/
venv/
env/
ENV/
.env.dev
.env.prod

# Pip
pip-log.txt
pip-delete-this-directory.txt

# ----------------------------
# Django
# ----------------------------
# Database
db.sqlite3
*.sqlite3

# Media / uploads
media/
*.log


# Django local settings
*.env
.env.*
.settings_local.py

# ----------------------------
# IDEs / Editors
# ----------------------------
# VSCode
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml

# ----------------------------
# OS-specific
# ----------------------------
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# ----------------------------
# Node / Tailwind
# ----------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# ----------------------------
# Testing / coverage
# ----------------------------
coverage/
*.cover
*.py,cover
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.egg-info/
dist/
build/
.eggs/

# ----------------------------
# Misc
# ----------------------------
*.bak
*.swp
*.swo
*.tmp

server.sh

----
root@*
postgres_data/
----
