version: "3.9"

services:
  web:
    build: .
    env_file:
      - .env.prod
    ports:
      - "8002:8000"
    restart: unless-stopped
    networks:
      - gis_centralize_db

networks:
  gis_centralize_db:
    external: true