version: "3.9"

services:
  web:
    build: .
    env_file:
      - .env.prod
    ports:
      - "8000:8000"
    restart: unless-stopped
    volumes:
      - static_volume:/app/staticfiles


volumes:
  static_volume:
