version: "3.9"

services:
  web:
    build: .
    env_file:
      - .env.prod
    ports:
      - "8002:8000"
    restart: unless-stopped
    volumes:
      - static_volume:/app/staticfiles
    networks:
      - gis_centralize_db


volumes:
  static_volume:

networks:
  gis_centralize_db:
    external: true