<div class="card grid grid-cols-1 gap-6 bg-neutral shadow-sm">
  <div class="card p-5">
    <h3 class="text-lg text-neutral-content font-black mb-5 uppercase">
      Recent Activity
    </h3>

    <div class="grid grid-cols-1 gap-5 text-sm">
      {% for activity in file_activities|slice:"5" %} <!-- fixed typo -->

      <!-- CARD 1 -->
      <div class="card p-3 bg-base-100">
        <h4 class="text-sm font-black tracking-widest mb-1">{{ activity.file.project.name }}</h4>
        <h4 class="text-sm mb-1">{{ activity.file.name|truncatechars:30 }}</h4>
        <div class="text-xs">
          <span class="font-semibold">{{ activity.action }}</span>
          <span class="ml-1 text-gray-500">{{ activity.created_at|date:"M d, Y H:i" }}</span>
        </div>
      </div>

      {% empty %}
      <!-- Empty state -->
      <div class="card p-3 bg-base-100 text-center ">
        No recent activity found.
      </div>
      {% endfor %}
    </div>
  </div>
</div>
