{% extends "_base.html" %}
{% load static %}
{% block content %}
    {% include "components/navbar.html" %}
    <div class="px-10 py-2 gap-5 grid grid-cols-1 lg:grid-cols-2" style="height: calc(100vh - 8rem);">
        <div class="flex-1">{% include "components/analytics/map.html" %}</div>
        <div class="col-span-1 lg:col-span-1 gap-5 flex flex-col">
            <div class="flex-1">{% include "components/analytics/chart3.html" %}</div>
            <div class="flex-1">{% include "components/analytics/team.html" %}</div>
        </div>
    </div>
        <script src="{% static 'chart.umd.min.js' %}"></script>
    {% include 'components/analytics/_chart_logic.js.html' %}
{% endblock %}
