{% extends "_base.html" %}
{% load static %}
{% block content %}
    <div class="grid grid-cols-12 min-h-screen w-full">
        <aside class="col-span-2 lg:col-span-3 xl:col-span-2 bg-primary">
            {% include 'components/sidebar/_sidebar.html' %}
        </aside>
        <main class="col-span-10 lg:col-span-9 xl:col-span-10 p-5 flex flex-col gap-4 min-h-screen">
            {% include "components/project/detail-header.html" %}
            <div class="gap-4 grid grid-cols-1 lg:grid-cols-2 w-full h-full">
                <div class="flex-1">{% include "components/analytics/map.html" %}</div>
                <div class="gap-5 flex  flex-col">
                    <div class="flex-1">{% include "components/analytics/chart.html" %}</div>
                    <div class="flex-1">{% include "components/analytics/data_select.html" %}</div>
                </div>
            </div>
        </main>
    </div>
    <script src="{% static 'chart.umd.min.js' %}"></script>
    <script src="{% static 'js/spatialSelector.js' %}"></script>
    <script src="{% static 'js/pieChart.js' %}"></script>
{% endblock %}
