<script>
document.addEventListener('DOMContentLoaded', () => {
    // Chart 1
    const labels1 = ['Apples', 'Bananas', 'Cherries', 'Dates', 'Elderberries'];
    const data1 = [12, 19, 7, 5, 3];
    const colors1 = ['#419400','#E1E6D9','#343300','#FF6384','#36A2EB'];
    new Chart(document.getElementById('pieChart1'), {
        type: 'bar',
        data: { labels: labels1, datasets: [{ data: data1, backgroundColor: colors1 }] },
        options: { responsive:true, maintainAspectRatio:false}
    });

    // Chart 2
    const labels2 = ['Apples', 'Bananas', 'Cherries', 'Dates', 'Elderberries'];
    const data2 = [12, 19, 7, 5, 35];
    const colors2 = ['#419400','#E1E6D9','#343300','#FF6384','#36A2EB'];
    new Chart(document.getElementById('pieChart2'), {
        type: 'doughnut',
        data: { labels: labels2, datasets: [{ data: data2, backgroundColor: colors2 }] },
        options: { responsive:true, maintainAspectRatio:false, cutout:'50%' }
    });
});
</script>
