<div class="card grid grid-cols-1 gap-6 bg-neutral">
  <div class="card p-5">
    <h3 class="text-lg text-neutral-content font-black mb-5">
        Recent Activity
    </h3>

    <div class="grid grid-cols-1 gap-5 text-sm">

      <!-- CARD 1 -->
      <div class="card p-3 bg-base-100">
        <h4 class="font-bold mb-1">ndvi.tiff</h4>
        <div class="text-xs">
          <span>Updated: 2026-01-22 14:02</span>
        </div>
      </div>

      <!-- CARD 2 -->
      <div class="card p-3 bg-base-100">
        <h4 class="font-bold mb-1">GeoJSON</h4>
        <div class="text-xs">
          <span>Created: 2026-01-18 11:20</span>
        </div>
      </div>

      <!-- CARD 3 -->
      <div class="card p-3 bg-base-100">
        <h4 class="font-bold mb-1">Tree.shp</h4>
        <div class="text-xs">
          <span>Created: 2026-01-15 16:30</span>
        </div>
      </div>

    </div>
  </div>
</div>
