{% extends "_base.html" %}
{% load static %}
{% block content %}
    <div class="card bg-base-100 shadow-sm min-h-full w-full p-5">
        <h3 class="font-black text-2xl tracking-tighter uppercase mb-1">Feature Map</h3>
        <div class="flex-1 w-full rounded-lg h-screen" id="map"></div>
    </div>

    
{% endblock %}
{% block extra_js %}
    <script>
        // This is the dynamic data from your SpatialData model
        const spatialData = {{ geojson_data|safe }} || null;
        console.log(spatialData)

        document.addEventListener("DOMContentLoaded", function () {
            var map = L.map("map", {
                attributionControl: false,
                minZoom: 2
            }).setView([0, 0], 2);

            L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png").addTo(map);

            // 2. Check if we actually have data from the selector
            if (spatialData) {
                var geoLayer = L.geoJSON(spatialData, {
                    style: function(feature) {
                        return {
                            color: "#1f2937",
                            weight: 1,
                            fillColor: '#60a5fa',
                            fillOpacity: 0.5
                        };
                    },
                    onEachFeature: function(feature, layer) {
                        let popupContent = "Spatial Feature";
                        
                        // If you stored all properties in your pipeline:
                        if (feature.properties && feature.properties.features) {
                             popupContent = `${feature.properties.features.NAME}`;
                        }

                        layer.bindPopup(popupContent);

                        layer.on({
                            mouseover: function(e) {
                                layer.setStyle({ weight: 3, fillOpacity: 0.8 });
                            },
                            mouseout: function(e) {
                                geoLayer.resetStyle(layer);
                            }
                        });
                    }
                }).addTo(map);

                // 3. Automatically zoom to your uploaded file
                map.fitBounds(geoLayer.getBounds(), { padding: [5, 5] });

            } else {
                console.log("No spatial data loaded for this selection.");
            }

            L.control.scale().addTo(map);
        });
    </script>
{% endblock %}