<div class="flex flex-col space-y-4 mt-3">
    <a href="#"
       class="group flex items-center justify-center xl:justify-start gap-2 p-2 bg-white/10 hover:bg-white hover:text-primary text-white transition-all font-black uppercase text-xs lg:text-sm tracking-widest rounded-lg">
        <i data-lucide="user" class="w-6 h-6 lg:w-8 lg:h-8"></i>
        <span class="hidden lg:block">Profile</span>
    </a>
    <form method="post" action="{% url 'account_logout' %}" class="w-full">
        {% csrf_token %}
        <button type="submit"
                class="group flex items-center justify-center xl:justify-start gap-3 w-full p-2 bg-white/10 hover:bg-white hover:text-red-700 text-error font-black uppercase text-xs lg:text-sm tracking-widest rounded-lg transition hover:cursor-pointer">
            <i data-lucide="log-out" class="w-6 h-6 lg:w-8 lg:h-8 text-error"></i>
            <span class="hidden lg:block">Logout</span>
        </button>
    </form>
</div>
