{% extends "_base.html" %}
{% load static %}
{% block content %}
    <div class="grid grid-cols-12 h-screen w-full overflow-hidden">
        
        <aside class="col-span-2 lg:col-span-3 xl:col-span-2 bg-primary">
            {% include "components/sidebar/_sidebar.html" %}
        </aside>

        <main class="col-span-10 lg:col-span-9 xl:col-span-10 p-5 flex flex-col gap-3 h-screen overflow-hidden">
            
            <div class="flex-none">
                {% include "components/project/detail-header.html" %}
            </div>
            
            <div class="gap-3 grid grid-cols-1 lg:grid-cols-2 w-full flex-1 min-h-0">
                
                <div class="gap-3 flex flex-col min-h-0">
                    <div class="flex-1 min-h-0">{% include "components/project/detail.html" %}</div>
                    <div class="flex-1 min-h-0">{% include "components/project/members.html" %}</div>
                </div>

                <div class="gap-3 flex flex-col min-h-0">
                    <div class="flex-1 min-h-0">{% include "components/dashboard/file_versions.html" %}</div>
                    <div class="flex-1 min-h-0 ">{% include "components/dashboard/setting.html" %}</div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}