<div class="card bg-base-100 shadow-sm space-y-4 p-5 h-full">
    <div class="flex justify-between items-end px-1 mb-6">
        <div>
            <h3 class="font-black text-2xl tracking-tighter uppercase">Projects</h3>
            {% if uploads|length > 0 %}
                <span class="badge badge-outline badge-primary text-xs font-black uppercase">Now Available</span>
            {% else %}
                <span class="badge badge-outline badge-error text-xs font-black uppercase">Empty</span>
            {% endif %}
        </div>
        <div class="badge badge-neutral font-black border-none h-8 px-4 text-[10px] tracking-widest uppercase">
            {{ uploads|length }} Item/s
        </div>
    </div>
    <div class="grid grid-cols-1 gap-4">
        {% for file in uploads %}
            <div class="card bg-base-200 active:bg-base-100 transition-colors">
                <div class="p-4 flex items-center justify-between gap-10">
                    <div class="flex items-center gap-2 sm:gap-4">
                        <div class="card bg-base-100 p-2 shrink-0">
                            <i data-lucide="map" class="w-6 h-6"></i>
                        </div>
                        <div class="flex flex-col overflow-hidden">
                            <span class="font-black text-[10px] sm:text-lg truncate">{{ file.name }}</span>
                            <span class="text-[10px] font-black opacity-40  tracking-tight">{{ file.user }}</span>
                        </div>
                    </div>
                    <div class="flex items-center gap-2">
                        <div class="text-right">
                            <span class="text-[8px] sm:text-[10px] font-black opacity-40 uppercase tracking-tighter sm:tracking-widest">{{ file.created_at|date:"M d, Y" }}</span>
                        </div>
                        <a href="{% url 'project-delete' file.pk %}"
                           class="btn btn-error btn-outline btn-square">
                            <i data-lucide="trash-2" class="w-6 h-6"></i>
                        </a>
                        <a href="{% url 'project-sync' file.pk %}"
                           class="btn btn-square btn-primary">
                            <i data-lucide="arrow-big-right-dash" class="w-6 h-6"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="card p-8 bg-base-200 text-center">
                <span class="font-black uppercase text-xs tracking-widest">No uploaded project</span>
            </div>
        {% endfor %}
        <div class="join">
            <input class="join-item btn btn-square"
                   type="radio"
                   name="options"
                   aria-label="1"
                   checked="checked" />
            <input class="join-item btn btn-square"
                   type="radio"
                   name="options"
                   aria-label="2" />
            <input class="join-item btn btn-square"
                   type="radio"
                   name="options"
                   aria-label="3" />
            <input class="join-item btn btn-square"
                   type="radio"
                   name="options"
                   aria-label="4" />
        </div>
    </div>
</div>
