<div class="card bg-base-100 shadow-sm space-y-4 p-5 h-full flex flex-col">
    <div class="flex justify-between items-end px-1 mb-3">
        <div>
            <h3 class="font-black text-2xl tracking-tighter uppercase">Projects</h3>
            {% if page_obj.paginator.count > 0 %}
                <span class="badge badge-outline badge-primary text-xs font-black uppercase">Now Available</span>
            {% else %}
                <span class="badge badge-outline badge-error text-xs font-black uppercase">Empty</span>
            {% endif %}
        </div>
        <div class="badge badge-neutral font-black border-none h-8 px-4 text-[10px] tracking-widest uppercase">
            {{ page_obj.paginator.count }} Item/s
        </div>
    </div>
    <div class="grid grid-cols-1 gap-2">
        {% for file in page_obj %}
            <div class="card bg-base-200 active:bg-base-100 transition-colors">
                <div class="py-2 px-4 flex items-center justify-between gap-10">
                    <div class="flex items-center gap-2 sm:gap-4">
                        <div class="card bg-base-100 p-2 shrink-0">
                            <i data-lucide="map" class="w-6 h-6"></i>
                        </div>
                        <div class="flex flex-col overflow-hidden">
                            <span class="font-black text-[10px] sm:text-lg truncate">{{ file.name }}</span>
                            <span class="text-[10px] font-black opacity-40  tracking-tight">{{ file.user }}</span>
                            <span class="text-[8px] sm:text-[10px] font-black opacity-40 uppercase tracking-tighter sm:tracking-widest">{{ file.created_at|date:"M d, Y" }}</span>
                        </div>
                    </div>
                    <div class="flex items-center gap-2">
                        <a href="{% url 'project-delete' file.pk %}"
                           class="btn btn-error btn-outline btn-square">
                            <i data-lucide="trash-2" class="w-6 h-6"></i>
                        </a>
                        <!-- target button -->
                        {% if button %}
                            <a href="{% url url_name file.pk %}" class="btn btn-square btn-primary">
                                <i data-lucide="{{ icon }}" class="w-6 h-6"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="card p-8 bg-base-200 text-center">
                <span class="font-black uppercase text-xs tracking-widest">No uploaded project</span>
            </div>
        {% endfor %}
        {% if page_obj.paginator.num_pages > 1 %}
            <div class="flex justify-center mt-5">
                <div class="join">
                    {% if page_obj.has_previous %}
                        <a href="?page=1" class="join-item btn btn-square"><<</a>
                        <a href="?page={{ page_obj.previous_page_number }}"
                           class="join-item btn btn-square"><</a>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if num == page_obj.number %}
                            <button class="join-item btn btn-square btn-active">{{ num }}</button>
                        {% elif num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
                            <a href="?page={{ num }}" class="join-item btn btn-square">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"
                           class="join-item btn btn-square">></a>
                        <a href="?page={{ page_obj.paginator.num_pages }}"
                           class="join-item btn btn-square">>></a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
