<div class="card bg-base-100 shadow-sm space-y-4 p-5">
    <div class="flex justify-between items-end px-1 mb-6">
        <div>
            <h3 class="font-black text-2xl tracking-tighter uppercase">Projects</h3>
            {% if uploads|length > 0 %}
                <span class="badge badge-outline badge-primary text-xs font-black uppercase">Now Available</span>
            {% else %}
                <span class="badge badge-outline badge-error text-xs font-black uppercase">Empty</span>
            {% endif %}

        </div>
        <div class="badge badge-neutral font-black border-none h-8 px-4 text-[10px] tracking-widest uppercase">
            {{ uploads|length }} Item/s
        </div>
    </div>

    {# Changed gap-1 to gap-4 for visible breathing room between cards #}
    <div class="grid grid-cols-1 gap-4">
        {% for file in uploads %}
            <div class="card bg-base-200 active:bg-base-100 transition-colors">
                <div class="p-4 flex items-center justify-between gap-10">

                {# --- LEFT SIDE: ICON + INFO --- #}
                    <div class="flex items-center gap-4">
                        <div class="card bg-base-100 p-2 shrink-0">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7" />
                            </svg>
                        </div>
                        <div class="flex flex-col overflow-hidden">
                            <span class="font-black text-sm truncate">{{ file.name }}</span>
                            <span class="text-[10px] font-black opacity-40  tracking-tight">{{ file.user }}</span>
                        </div>
                    </div>

                {# --- RIGHT SIDE: DATE + BUTTON --- #}
                    <div class="flex items-center gap-2">
                        <div class="text-right">
                            <span class="text-[10px] font-black opacity-40 uppercase tracking-widest">{{ file.created_at|date:"M d, Y" }}</span>
                        </div>

                        <a href="{% url 'file:project-delete' file.pk %}"  
                        class="btn btn-error btn-outline btn-square">
                            <svg xmlns="http://www.w3.org/2000/svg" 
                                fill="none" viewBox="0 0 24 24" 
                                stroke-width="2" stroke="currentColor" 
                                class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round" 
                                    d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </a>

                        <a href="{% url 'file:project-sync' file.pk %}" class="btn btn-square btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                            </svg>
                        </a>
                    </div>

                </div>
            </div>
        {% empty %}
            <div class="card p-8 bg-base-200 text-center">
                <span class="font-black uppercase text-xs tracking-widest">No uploaded project</span>
            </div>
        {% endfor %}
    </div>
</div>