{% extends '_base.html' %}
{% load static %}
{% block content %}
    <div class="grid grid-cols-12 min-h-screen w-full">
        <aside class="col-span-2 lg:col-span-3 xl:col-span-2 bg-primary shadow-md">
            {% include 'components/sidebar/_sidebar.html' %}
        </aside>
        <main class="col-span-10 lg:col-span-9 xl:col-span-10 p-5 flex flex-col gap-4">
            {% include 'components/dashboard/header.html' with title="Project Storage" subtitle="Here is your project management and data comsumption." %}
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 flex-1">
                <div class="lg:col-span-1 flex flex-col gap-4 lg:gap-2">
                    {% include 'components/dashboard/upload_card.html' %}
                    {% include 'components/dashboard/storage_card.html' %}
                </div>
                <div class="lg:col-span-2">{% include 'components/charts/analytics_section.html' %}</div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 flex-2">
                <div class="lg:col-span-2">
                    {% include 'components/project/projects-table.html' with url_name="project-details" icon="arrow-big-right-dash" button=True showDelete=True %}
                </div>
                <div>{% include 'components/dashboard/activity_logs.html' %}</div>
            </div>
        </main>
    </div>
    <script src="{% static 'chart.umd.min.js' %}"></script>
    {% include 'components/charts/_chart_logic.js.html' %}
{% endblock %}
