.container {
  background-color: var(--base-200);
  padding: 0;
  margin: 0;
}

.container--navbar {
  background-color: var(--base-100);
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 5px 0.5px rgba(0,0,0,0.09);
  padding: 0px 20px;
}