{% extends 'landingpage/_base.html' %}
{% block content %}
    <div class="min-h-screen flex items-center text-center bg-base-300">
        <div class="text-center w-full bg-base-300 p-10">
            <h1 class="text-4xl font-black text-primary mb-4">Our Mission</h1>
            <p class="text-lg text-base-content leading-relaxed">
                To empower teams with smarter GIS solutions, eliminating repetitive, tedious,
                and time-consuming tasks, so they can focus on insights, innovation, and impact.
            </p>
        </div>
    </div>
{% endblock content %}
