{% extends 'landingpage/_base.html' %}
{% block content %}
    <nav class="fixed w-full bg-base-100 shadow-sm z-50">
        <div class="max-w-7xl mx-auto px-5 lg:px-0 py-4 flex items-center justify-between">
            <a href="{% url 'landingpage:home' %}"
               class="text-2xl lg:text-4xl text-primary font-black">TopMap Solutions</a>
            <div class="flex items-center gap-6">
                <a href="#solutions" class="hidden sm:block hover:text-primary">Solutions</a>
                <a href="#contact" class="btn btn-sm sm:btn-lg btn-primary text-white">Contact us</a>
            </div>
        </div>
    </nav>
{% endblock content %}
