{% extends 'landingpage/_base.html' %}
{% block content %}
    <section class="flex items-center min-h-screen bg-base-200 p-5 scroll-mt-24"
             id="solutions">
        <div class="max-w-7xl mx-auto text-center">
            <h1 class="text-4xl md:text-5xl lg:text-6xl font-black text-primary mb-5 sm:mb-15">Our Solutions</h1>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
                <div class="card bg-base-100 shadow-sm p-10 flex flex-col items-center text-center gap-6 transition duration-300">
                    <i data-lucide="users" class="w-16 h-16 text-primary"></i>
                    <h2 class="text-2xl md:text-3xl font-bold">Teams Sync</h2>
                    <p class="text-base md:text-lg text-base-content/80 max-w-md">
                        Collaborate efficiently with offline field support,
                        real-time dashboards, advanced analytics, and secure
                        cloud storage integration.
                    </p>
                    <a href="{% url 'gis_database:home' %}"
                       class="btn btn-primary btn-lg px-10">Explore Platform</a>
                </div>
                <div class="card bg-base-100 shadow-sm p-10 flex flex-col items-center text-center gap-6 transition duration-300">
                    <i data-lucide="map-pin" class="w-16 h-16 text-primary"></i>
                    <h2 class="text-2xl md:text-3xl font-bold">Urban Mapping</h2>
                    <p class="text-base md:text-lg text-base-content/80 max-w-md">
                        Georeference and analyze urban spatial data to create
                        actionable GIS insights for planners, LGUs, and infrastructure teams.
                    </p>
                    <button class="btn btn-outline btn-lg px-10">Coming Soon</button>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
