<div class="bg-base-100 shadow-sm mx-auto px-3 lg:px-10 py-2 items-end">
    <div class="navbar px-0 flex flex-row justify-between">
        <div class="flex flex-col items-start">
            <h1 class="text-2xl sm:text-4xl font-black tracking-tight text-primary leading-none">
                <a href="{% url 'gis_database:home' %}"
                   class="hover:opacity-80 transition-opacity">TopMap Sync</a>
            </h1>
            <a href="{% url 'landingpage:home' %}"
               class="text-[8px] sm:text-[10px] font-black uppercase tracking-[0.2em] mt-2 opacity-50">Topmap Solutions</a>
        </div>
        <div>
            {% if not user.is_authenticated %}
                <a href="{% url 'account_login' %}"
                   class="btn btn-primary btn-outline gap-2">Login</a>
            {% else %}
                <form method="post" action="{% url 'account_logout' %}" class="w-full">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline btn-error gap-2">Logout</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
<div class="border-b border-base-300 mb-5"></div>
