name: Deploy to Server Vultr

on:
  push:
    branches:
      - main 

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          timeout: 30m  
          command_timeout: 30m  
          script: |
            cd ~/myapps/django-gis-centralize-database
            git pull origin main
            
            # Disable BuildKit for compatibility with Vultr legacy builder
            export DOCKER_BUILDKIT=0
            
            # Stop and rebuild
            docker-compose down
            docker-compose up -d --build
            
            # Give the container a moment to initialize PostGIS and Static files
            echo "Waiting for initialization..."
            sleep 15
            
            # Health check: If 'web' isn't running, this exit code will notify GitHub
            docker-compose ps | grep "Up"
            
            # Clean up old images to prevent Vultr disk from filling up
            docker image prune -f